.header {
     color: #E6441C;
     background-color: blue;
     border: 3px solid black;
     box-shadow: 5px 5px 5px black;
     height: 2em;
     width: 25em;
     border-radius: 10px;	
     margin: auto;
     text-align: center;
     font-family: sans-serif;
}
.header2 {
     background-color: yellow;
     color: black;
     border: 3px solid black;
     box-shadow: 5px 5px 5px black;
     height: 2em;
     width: 25em;
     border-radius: 10px;	
     margin: auto;
     text-align: center;
     font-family: sans-serif;
}
.menu1 {
    list-style-type: none;
    border-radius: 38em;
    box-shadow: 5px 5px 5px black;
    border: 3px solid black;
    background-color: #15F609;
    height: 15.625em;
    width: 15.625em;
    color: black;
    text-align: center;
    padding: 0px 20px 20px 20px;
    float: left;
    margin-top: 3.125em;	
    margin-left: 5.875em;
}
.menu1:hover{
    list-style-type: none;
    border-radius: 38em;
    box-shadow: 5px 5px 5px black;
    border: 3px solid black;
    background-color: #B6FFB3;
    height: 15.625em;
    width: 15.625em;
    color: black;
    text-align: center;
    padding: 0px 20px 20px 20px;
    float: left;
    margin-top: 3.125em;	
    margin-left: 5.875em;
}
.menu2 {

    list-style-type: none;
    border-radius: 38em;
    box-shadow: 5px 5px 5px black;
    border: 3px solid black;
    background-color: yellow;
    height: 15.625em;
    width: 15.625em;
    color: black;
    text-align: center;
    padding: 0px 20px 20px 20px;
    float: left;
    margin-top: 3.125em;	
    margin-left: 1.875em;
}
.menu2:hover {

    list-style-type: none;
    border-radius: 38em;
    box-shadow: 5px 5px 5px black;
    border: 3px solid black;
    background-color: #FFFD9E;
    height: 15.625em;
    width: 15.625em;
    color: black;
    text-align: center;
    padding: 0px 20px 20px 20px;
    float: left;
    margin-top: 3.125em;	
    margin-left: 1.875em;
}
.menu3 {
    list-style-type: none;
    border-radius: 38em;
    box-shadow: 5px 5px 5px black;
    border: 3px solid black;
    background-color: red;
    height: 15.625em;
    width: 15.625em;
    color: black;
    text-align: center;
    padding: 0px 20px 20px 20px;
    float: left;
    margin-top: 3.125em;	
    margin-left: 1.875em;
}
.menu3:hover {
    list-style-type: none;
    border-radius: 38em;
    box-shadow: 5px 5px 5px black;
    border: 3px solid black;
    background-color: #FF6952;
    height: 15.625em;
    width: 15.625em;
    color: black;
    text-align: center;
    padding: 0px 20px 20px 20px;
    float: left;
    margin-top: 3.125em;	
    margin-left: 1.875em;
}
.submenu {
     
     float: left;
     visibility: hidden;
     color: black;
     border: 3px solid black;
     box-shadow: 5px 5px 5px black;
     height: 30em;
     width: 9.7em;
     border-radius: 10px;	
     margin: 0.5em;
     text-align: left;
     font-family: sans-serif;

}
.submenu:hover {
     visibility: visible;
}
.center { 
   height: 60em;
   width: 72em;
   margin: 0em 0em 0em 5em;
}
h1 a {
   text-decoration: none;
   color: white;
   padding-top: 10px;
}
h2 a {
   text-decoration: none;
   font-size: 1.5em;
   color:black;
   padding-top: 10px;
}

li a {
   text-decoration: none;
   background-color: none;
   color: white;
   padding: none;
   font-size: 1em
   border-radius: none;
}


li a:hover{
   text-decoration: none;
   background-color: none;
   color: black;
   padding: none;
   border-radius: none;
}


body {
     margin: 0;
     background-color: #5B6961;
}
