.header {
    
     color: #E6441C;
     background-color: green;
     height: 75px;
     width: 600px;
     border-radius: 10px;	
     margin: auto 330px;
     text-align: center;
     font-family: sans-serif;
}
.menu {

    list-style-type: none;
    border-radius: 10px;
    background-color: black;
    height: 400px;
    width: 150px;
    color: white;
    text-align: center;
    padding: 0px 20px 20px 20px;
    float: left;
    margin-top: 50px;	
    margin-left: 30px;

}
.separator{
    height: 1200px;
    width: 240px;
    display: block;
    float: left;



}
li a {
   text-decoration: none;
   background-color: blue;
   color: white;
   padding: 5px;
   
   border-radius: 10px;
   


}
li a:hover{
   text-decoration: none;
   background-color: red;
   color: white;
   padding: 5px;
   border-radius: 10px;



}
body {
     margin: 0;
background-color: #5B6961;
