.header {
    
     color: #E6441C;
     background-color: none;
     height: 75px;
     width: 600px;
     border-radius: 10px;	
     margin: auto 378px;
     text-align: center;
     font-family: sans-serif;
}
.menu1 {

    list-style-type: none;
    border-radius: 10px;
    border: 3px solid black;
    background-color: #BA623C;
    height: 400px;
    width: 250px;
    color: white;
    text-align: center;
    padding: 0px 20px 20px 20px;
    float: left;
    margin-top: 50px;	
    margin-left: 30px;

}
.menu2 {

    list-style-type: none;
    border-radius: 10px;
    border: 3px solid black;
    background-color: orange;
    height: 400px;
    width: 250px;
    color: white;
    text-align: center;
    padding: 0px 20px 20px 20px;
    float: left;
    margin-top: 50px;	
    margin-left: 30px;



}
.menu3 {

    list-style-type: none;
    border-radius: 10px;
    border: 3px solid black;
    background-color: red;
    height: 400px;
    width: 250px;
    color: white;
    text-align: center;
    padding: 0px 20px 20px 20px;
    float: left;
    margin-top: 50px;	
    margin-left: 30px;





}
.separator{
    height: 1200px;
    width: 170px;
    display: block;
    float: left;


}
.box {
   height: 500px;
   width: 90em;
   display: block;

}
li a {
   text-decoration: none;
   background-color: blue;
   color: white;
   padding: 5px;
   border-radius: 10px;
   


}
li a:hover{
   text-decoration: none;
   background-color: black;
   color: white;
   padding: 5px;
   border-radius: 10px;



}
body {
     margin: 0;
     background-color: #5B6961;
}
