.header {
     color: #E6441C;
     background-color: blue;
     border: 3px solid black;
     box-shadow: 5px 5px 5px black;
     height: 2em;
     width: 25em;
     border-radius: 10px;	
     margin: auto;
     text-align: center;
     font-family: sans-serif;
}


.menu1 {
    list-style-type: none;
    border-radius: 38em;
    box-shadow: 5px 5px 5px black;
    border: 3px solid black;
    background-color: #15F609;
    height: 15.625em;
    width: 15.625em;
    color: black;
    text-align: center;
    padding: 0px 20px 20px 20px;
    float: left;
    margin-top: 50px;	
    margin-left: 30px;
}
.menu2 {

    list-style-type: none;
    border-radius: 38em;
    box-shadow: 5px 5px 5px black;
    border: 3px solid black;
    background-color: yellow;
    height: 15.625em;
    width: 15.625em;
    color: black;
    text-align: center;
    padding: 0px 20px 20px 20px;
    float: left;
    margin-top: 50px;	
    margin-left: 30px;
}

.menu3 {
    list-style-type: none;
    border-radius: 38em;
    box-shadow: 5px 5px 5px black;
    border: 3px solid black;
    background-color: red;
    height: 15.625em;
    width: 15.625em;
    color: black;
    text-align: center;
    padding: 0px 20px 20px 20px;
    float: left;
    margin-top: 50px;	
    margin-left: 30px;
}


.separator{
    height: 8em;
    width: 9em;
    display: block;
    float: left;
    background-color: blue;
}


h1 a {
   text-decoration: none;
   color: white;
   padding-top: 10px;
}


.box {
   height: 10px;
   width: 70em;
   display: block;
}


li a {
   text-decoration: none;
   background-color: black;
   color: white;
   padding: 5px;
   border-radius: 7px;
}


li a:hover{
   text-decoration: none;
   background-color: yellow;
   color: black;
   padding: 5px;
   border-radius: 7px;
}


body {
     margin: 0;
     background-color: #5B6961;
}
